.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(34, 34, 34);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(29, 205, 159);
}

.content p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 20px; /* расстояние между кнопками */
  margin: 20px 0;
  flex-wrap: wrap;
}

.accept,
.reject,
.block,
.go {
  background-color: rgb(29, 205, 159);
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  min-width: 180px;
  text-align: center;
}

.reject {
  background-color: rgb(255, 100, 100);
  color: white;
}

.block {
  background-color: rgb(255, 60, 60);
  color: white;
}

.accept:hover,
.go:hover {
  background-color: rgb(22, 153, 118);
}

.reject:hover {
  background-color: rgb(220, 70, 70);
}

.block:hover {
  background-color: rgb(200, 50, 50);
}
